<h1><%= @a_cat.name %></h1>

<table>
  <tbody>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>

    <tr>
      <td>Age</td>
      <td><%= @a_cat.age %></td>
    </tr>

    <tr>
      <td>Birthdate</td>
      <td><%= @a_cat[:birth_date] %></td>
    </tr>

    <tr>
      <td>Color</td>
      <td><%= @a_cat[:color] %></td>
    </tr>

    <tr>
      <td>Sex</td>
      <td><%= @a_cat[:sex] %></td>
    </tr>
  </tbody>

</table>

<a href="<%= cats_url %>">Back to All Cats</a>